body 
{
    background-color: gray;
    color: aliceblue;
}

.caixa {
    background-color: red;
    width: 200px;
    text-align: center;
}

.area {
    background-color: rgb(6, 11, 255);
    width: 200px;
    text-align: center;
}

.container {
    width: 400px;
    height: 400px;
    gap: 100px;
    display: flex;
    margin: auto;
    padding: 20px;
    justify-content: center;
    border-color: black;
    border-radius: 10%;
    border-width: 5px;
    border-style: solid;
}
